@media (min-width: 768px) and (max-width: 1299px) {
    
    body {
        background-image: none;
    }

    .definition_common-bound {
        max-width: 728px;
        margin: 0 auto;
    }

/* section projects--------------------------------------------------------------------------- */

    .projects {
        padding-top: 75px;
        padding-bottom: 58px;
    }

    .projects__wrapper {
        padding: 0;
    }

    .projects__list {
        display: none;
    }

    .projects__wrap {
        flex-direction: column;
        gap: 15px;
    }
    
    .projects__text {
        width: 385px;
    }

    .projects__data_position_lower {
        margin-bottom: 35px;
    }

    .projects__selection {
        align-self: center;
    }

    .projects__selection-circle-btn-focus {
        background-color: #ffffff;
    }

}